# PyHeart Environment Configuration

# HTTP Server Configuration
HTTP__HOST=0.0.0.0
HTTP__PORT=8000
HTTP__WORKER=1
HTTP__RELOAD=true

# PostgreSQL Database Configuration
PG__HOST=0.0.0.0
PG__PORT=5433
PG__USERNAME=postgres
PG__PASSWORD=password
PG__DB=pyheartmpl

# Redis Cache Configuration
REDIS__HOST=0.0.0.0
REDIS__PORT=6380
REDIS__USERNAME=default
REDIS__PASSWORD=password
REDIS__DB=0

# CLI Configuration
CLI__DEBUG=false

# Logging Configuration
LOGGING__LVL=INFO

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:password@localhost:5433/pyheartmpl
GOOSE_MIGRATION_DIR=./contrib/migrations


# Kafka
KAFKA__BOOTSTRAP_SERVER="0.0.0.0:9092"
KAFKA__USERNAME=root
KAFKA__PASSWORD=password
KAFKA__GROUP_ID="1"
KAFKA__TOPIC_ARRAY="core"
